@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header img {
    width: 180px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li + li {
    margin-left: 30px;
}

header a {
    color: #ebebed;
    text-decoration: none;
    transition: color 0.2s;
}

header a:hover {
    color: #f12239;
}


